.button {
  color: blue;
  border: 1px solid blue;
  background-color: white;
  height: 45%;
  width: 170px;
  margin-top: 15px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 13px;
}

.button:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
}

.parentdiv1 {
  /* height: 100px; */
  margin-top: 50px;
  /* border: 1px solid teal; */
}

.firstDiv {
  display: flex;
  /* border: 1px solid red; */
  background-color: rgb(243, 246, 249);
  /* background-color: rgb(58, 145, 232); */
}

.secondDiv {
  width: 100%;
  background-color: white;
  /* border: 1px solid green; */
  background-color: rgb(243, 246, 249);
  padding: 20px;
  
}

.yourCart {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  /* border: 1px solid black; */
  padding: 30px;
}

.bestBuy > h3 {
  font-size: 15px;
  margin-bottom: -15px;
  font-weight: 900;
}

.bestBuy > h1 {
  font-weight: bold;
  font-size: 35px;
}

.bestBuy ~ div > h5 {
  font-weight: bold;
  font-size: 14px;
}

.specialoffers > div > h2 {
  margin: 0px 10px 0px 10px;
}

.parentdiv {
  /* border: 1px solid red; */
  display: flex;
}

.orderSummary {
  width: 30%;
  background-color: white;
  /* border: 2px solid teal; */
  padding: 20px;
}

.orderSummary > h2,
Link,
hr,
h4,
button,
div > div {
  margin-bottom: 10px;
}

hr {
  width: 100%;
}

.orderSummary > Link {
  color: blue;
  font-size: 13px;
}

.orderSummary > button {
  /* border: 1px solid teal; */
  width: 100%;
  height: 50px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.orderSummary > button {
  cursor: pointer;
}

.orderSummary > button {
  background-color: rgb(255, 224, 0);
  border-radius: 3px;
  border: none;
}

.orderSummary > button ~ button {
  background-color: rgb(29, 37, 44);
  color: white;
  font-size: 20px;
  gap: 10px;
}

.orderSummary > button ~ button > h4 {
  font-size: 14px;
}

.link {
  color: rgb(89, 89, 251);
  font-size: 13px;
}

.orderSummary > div {
  display: flex;
}

.orderSummary > div > div {
  width: 30%;
}

.orderSummary > div > div ~ div {
  width: 70%;
}

.gift {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 70px;
}
.gift > h2 {
  font-size: 17px;
}
.productsdiv {
  background-color: white;
  padding: 20px;
  /* border: 1px solid red; */
}
